@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@700;800;900&display=swap');

* {
font-family: 'Nunito', sans-serif;
margin: 0px;
padding: 0px;
}

body {
margin: 2em 5em 2em 5em;
/**top right botom left**/
background-color: #ffffff;
}

/** hard coded a margin bottom cuz the carousel is position absolute**/
main {
margin-bottom: 500px;
}

a {
color: inherit;
text-decoration: none;
}

a:hover {
color: inherit;
text-decoration: none;
cursor: pointer;
}

header {
width: 100%;
position: relative;
display: flex;
}

form {
display: inline-block;
position: relative;
}

.form-control {
display: inline-block;
/* width: 500px; */
}

#right {
position: absolute;
right: 0px;
}

.nav-profile {
border-radius: 50px;
width: 3em;
}

/* .header-title {
font-weight: 600;
font-size: 2em;
margin: 0.5em 0 0.5em 0;
} */

.top-recipes {
/* margin-top: 100px; */
flex-basis: 100%;
}

.title-basis{
  flex-basis: 100%;
}

.my-cook-book {
margin-top: 400px;
}

/*flex container. width 1420px should be a media query to flex-container */
.flex-container2{
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
  align-items: start;
  /* align-content: flex-start; */
  width:1420px;
}

.card {
margin: 10px;
display: grid;
gap: 2rem 1rem;
padding-bottom: 3rem;
box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}

.recipeCard {
position: relative;
text-align: left;
color: white;
box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
border-radius: 0.8em;
margin-left: 10px;
margin-right: 10px;
margin-bottom: 10px;
background-image: linear-gradient(to bottom,
  rgba(255, 255, 255, 0),
  rgba(255, 255, 255, 0),
  rgba(0, 0, 0, 0.8));
width: 400px;
height: 290px;
}

.recipeCard:first-child {
margin-left: 0px;
}

.recipeCard:hover {
box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
border-radius: 0.8em;
}

.card-text {
color: white;
text-shadow: -2px 4px 0 rgba(0, 0, 0, 0.3);
}

.cardImage {
border-radius: 0.8em;
position: relative;
z-index: -1;
width: 400px;
height: 290px;
object-fit: cover;
}

.cardText {
position: absolute;
bottom: 0.5em;
left: 1em;
}

.card-tags {
margin: 0px;
text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
font-weight: 400;
}

.card-details {
margin-top: 10px;
text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
font-weight: 400;
}

.recipeTitle {
font-weight: 700;
font-size: 1.5em;
margin: 0px;
text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
}

.add_btn {
border: 2px solid black;
border-radius: 15px;
background-color: lightgoldenrodyellow;
color: black;
padding: 5px 32px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 16px;
margin: 4px 2px;
cursor: pointer;
}

.add_btn:hover {
background-color: black;
color: lightgoldenrodyellow;
text-decoration: none;
cursor: pointer;
}
/* .row {
margin-right: 0px;
margin-left: 0px;
} */

/*
piechart takes 1/3, cards take 2/3 of page
*/
.grid-container {
display: grid;
grid-template-areas:  'piechart card';
grid-template-columns: 25% 60%;
grid-gap: 10px;
width: 1817px;
}

h1 {
padding-top: 10px;
padding-bottom: 10px;
}

.piechart {
grid-area: piechart;
}

/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 600px) {
  .nav-container a:not(:first-child) {
    display: none;
  }

  .nav-container a.icon {
    float: right;
    display: block;
  }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 600px) {
  .nav-container.responsive {
    position: relative;
  }

  .nav-container.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }

  .nav-container.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

@media screen and (min-width: 1566px) {
  .card-flex-container {
    width: 1300px;
  }
}

@media screen and (max-width: 1566px) {
  .card-flex-container{
    width:900px;
  }
}

@media screen and (max-width: 1526px) {
  .card-flex-container{
    width:500px;
  }
}