<div class="nav-container" id="myTopnav">
    <nav class="navbar navbar-expand-lg navbar-light">
      <a class="nav-title" href="/">
        <span>HOT DAWG</span>
      </a>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <div class="form-inline my-2 my-lg-0">
          <div></div>
           <input class="form-control mr-sm-2" type="search" id="search_bar" placeholder="Search" aria-label="Search" />
           <button class="btn my-2 my-sm-0" onclick="doSearch()">
            <i class="bi bi-search"></i>
          </button>
        </div>
        <ul class="navbar-nav mr-auto">
          <!-- <li class="nav-item">
          <a class="nav-link" href="#">Saved</a>
        </li> -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-filter"
                viewBox="0 0 16 16">
                <path
                  d="M6 10.5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1-.5-.5zm-2-3a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm-2-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5z" />
              </svg>
              Filter By Types
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <input class="dropdown-item" type="button" value="Main Course">
              <input class="dropdown-item" type="button" value="Side">
              <input class="dropdown-item" type="button" value="Dessert">
              <input class="dropdown-item" type="button" value="Appetizer">
              <input class="dropdown-item" type="button" value="Salad">
              <input class="dropdown-item" type="button" value="Bread">
              <input class="dropdown-item" type="button" value="Breakfast">
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              Health
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Body Calculator</a>
              <a class="dropdown-item" href="/dashboard/calorie_track
              ">Calories Tracker</a>
            </div>
          </li>
          <!--log in and sign up buttons-->
          <li class="nav-item-dropdown"></li>
          <% if(!uid) {%>
          <li class="nav-item">
            <a class="btn btn-outline-primary my-2 my-sm-0" href="/signup">
              <span class="bi bi-person"> </span>
              Sign up
            </a>
          </li>
          <li class="nav-item">
            <a class="btn btn-outline-dark my-2 my-sm-0" href="/login">
              <span class="bi bi-box-arrow-in-right"> </span>
              Login
            </a>
          </li>
          <%} else {%>
            <div>
              <a
                class="nav-link dropdown-toggle"
                href="#"
                id="navbarDropdown"
                role="button"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
              >
                <img
                  class="nav-profile"
                  src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png"
                  width="100px"
                  alt=""
                />
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">My Measurements</a>
                <a class="dropdown-item" href="/dashboard">My Cookbook</a>
                <a class="logOutbtn dropdown-item" href="#">Log Out</a>
              </div>
            </div>
          <%}%>
        </ul>
      </div>
    </nav>
    <!--<a href="javascript:void(0);" class="icon" onclick="myFunction()">
      <i class="fa fa-bars"></i>
    </a>-->
  </div>