<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.bundle.min.js"></script>
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>

    <link rel="stylesheet" href="/stylesheets/login_style.css" />
    <link rel="stylesheet" href="/stylesheets/navbar_style.css">

    <script src="/javascripts/passValid.js"></script>
  </head>
  <body>
    <header>
      <%- include('../components/navbar.ejs', {uid})%>
    </header>

    <main>
      <h1>Sign Up</h1>
      <div class="login-flex-container">
        <form
          action="/signup"
          method="post"
          id="myForm"
          onsubmit="return ValidatePassword();"
          class="signUpLoginForm"
        >
          <label for="email" class="signup-login-label">Email: </label><br>
          <input class="user_input" type="email" name="email" placeholder="Email" required />
          <br />

          <label for="first_name" class="signup-login-label">First Name: </label><br>
          <input
            class="user_input"
            type="text"
            name="first_name"
            placeholder="First Name"
            required
          />
          <br />
          <label for="last_name" class="signup-login-label">Last Name: </label><br>
          <input
            class="user_input"
            type="text"
            name="last_name"
            placeholder="Last Name"
            required
          />
          <br />

          <label for="password" class="signup-login-label">Password: </label><br>
          <input
            class="user_input"
            type="password"
            id="password"
            name="password"
            placeholder="Password"
            required
          />
          <br />
          <label for="password" class="signup-login-label">Confirm Password: </label><br>

          <input
            class="user_input"
            type="password"
            id="confirm_password"
            placeholder="Confirm Password"
            required
          />
          <br />
          <button class="signupbtn" type="submit">Sign Up</button>
        </form>
      </div>
    </main>
  </body>
</html>
